@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Abhaya Libre', serif;
}
body {
    background-color: #f8f9fa;
}

header {
    background-color: #343a40;
    color: #fff;
    text-align: center;
}

.navbar {
    background-color: #343a40 !important;
}

footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.card {
    margin-bottom: 30px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-body h2{
    text-align: center;
}
.card-body a{
color: #fff;
}

.card-body p{
color: #fff;
}
