body {
    background-color: #f8f9fa;
}

header {
    background-color: #343a40;
    color: #fff;
    text-align: center;
}

.navbar {
    background-color: #343a40 !important;
}

footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.image-container {
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}